h1{
    margin: 5px 0px 5px 0px;
    text-align: center;
    font-size: 45px;
    font-family: "Arial Black";
}
body{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
    "header header header"
    "left middle right"
    ". footer .";
    background-image: linear-gradient(to right, white, grey);
}



.Left{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.board{
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
}

.Score{
    display: flex;
    flex-wrap: wrap;
    width: 9%;
    height: 5%;
    padding: 20px;
    border-radius: 5px;
    border: 0px 0px 5px 0px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.ScoreCaption{
    padding: 3px 0px 0px 0px;
    margin: 3px 0px 0px 0px;
    border: 3px 0px 0px 0px;
    font-size: 15px;
    font-weight: bold;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    text-align: center;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    border: 0px 0px 5px 0px;
    transition: all 0.4s ease 0s;
    font-weight: bold;
}

.buttons:hover{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
.cell{
    background-color: #fff;
    border: 2px solid rgba(0,0,0,.1);
    transition: all 0.4s ease 0s;
}

.cell:hover{
    background: yellow;
}

.X{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 50px;
    line-height: 170px;
}

.O{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 50px;
    line-height: 170px;
}

.footer{
    text-align: center;
    font-size: 15px;
    font-family: "Arial-Black";
    position: absolute;
    left: 45%;
    bottom: 0;
}